<p><strong>新規項目追加欄</strong></p>
<p style="padding-bottom: 15px; font-size: 0.9em"><weak>　※未登録の項目はこちらから追加してください。</weak></p>

<%# @anime = Anime.new unless @anime %>
<%= form_for @anime do |f| %>
  <div class="field">
    <%= f.label :anime_title, "アニメ名" %><br>
    <%= f.text_field :anime_title %>
    <%= f.submit '追加', class:"btn btn-sm btn-default" %>
  </div>
<% end %>

<%# @label = Label.new unless @label %>
<%= form_for @label do |f| %>
  <div class="field">
    <%= f.label :company, "レーベル名" %><br>
    <%= f.text_field :company %>
    <%= f.submit '追加', class:"btn btn-sm btn-default" %>
  </div>
<% end %>

<%# @artist = Artist.new unless @artist %>
<%= form_for @artist do |f| %>
  <div class="field">
    <%= f.label :artist_name, "アーティスト名(曲入力欄に追加)" %><br>
    <%= f.text_field :artist_name %>
    <%= f.submit '追加', class:"btn btn-sm btn-default" %>
  </div>
<% end %>