<h1>New Project</h1>

<%= form_for @cd do |f| %>
  <div class="field">
    <%= f.label :album, "シングル/アルバム名" %>
    <%= f.text_field :album %>
  </div>
  <div class="field">
    <%= f.label :anime, "アニメ名" %>
    <%= f.text_field :anime %>
  </div>
  <div class="field">
    <%= f.label :label, "レーベル名" %>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :genre, "ジャンル" %>
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :inventory, "在庫数" %>
    <%= f.text_field :inventory %>
  </div>
  <div class="field">
    <%= f.label :price, "価格" %>
    <%= f.text_field :price %>
  </div>

  <h3>Discs</h3>
  <div id="discs">
    <%= f.fields_for :discs do |f| %>

    <div class="nested-fields well well-compact">
      <div class="form-group">
        <%= f.label :type %>
        <%= f.number_field :type %><br>
        <%= link_to_remove_association "削除", f %>
      </div>

      <div class="items">
        <%= f.fields_for :songs do |f| %>

        <div class="nested-fields form-inline">
          <div class="form-group">
            <%= f.label :order %>
            <%= f.number_field :order %>
          </div>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.number_field :title %>
          </div>
          <div class="form-group">
            <%= f.label :artist %>
            <%= f.number_field :artist %>
          </div>
        </div>

        <%end%>

        <div class="links">
          <%#= link_to_add_association '曲の追加１', f, :songs %>
          <%#= link_to_add_association '曲の追加１', f, :songs,
            data: {
              association_insertion_node: '#discs',
              association_insertion_method: 'append'
            } %>
        </div>
      </div>
    </div>
    <% end %>

     <div id="links">
      <%#= link_to_add_association 'ディスクの追加２',f, :discs %>
    </div>

    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', cds_path %>