<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.label :"Disc number:" %>
    <%= f.number_field :type %><br>
  </div>

  <div class="songs">


<!-- ここから -->

<div class="nested-fields form-inline">

  <div class="form-group">


      <table class="table">
        <thead>
          <tr>
            <th>曲順</th>
            <th>シングル/アルバム内の曲名</th>
            <th>アーティスト名</th>
            <th></th>
          </tr>
        </thead>

      </table>

  </div>

</div>

<!-- ここまで -->



    <%= f.fields_for :songs do |song| %>
      <%= render 'song_fields', f: song %>
    <%end%>



    <div style="margin:10px">
      <%= link_to_add_association "曲を追加 (_disc_fields内記述)", f, :songs, class:"btn btn-sm btn-info" %>
    </div>

    <div style="margin:10px">
      <%= link_to_remove_association "曲を削除 (_disc_fields内記述)", f, class:"btn btn-sm btn-warning" %>
    </div>


  </div>
    <div>
      <%= link_to_remove_association "Discの削除 (_disc_fields内記述)", f, class:"btn btn-sm btn-danger" %>
    </div>

</div>
