<%= form_for @cd do |f| %>



<!-- 画像投稿フォーム -->
  <div class="upper-cont-left">

    <div>
        <%= attachment_image_tag @cd, :cd_image, :fill, 50, 50, class: "cd-image", fallback: "/images/no_image.png"%>
    </div>
    <div class="cd-image-select">
      <%= f.attachment_field :cd_image, direct: true %>
    </div>

  </div>



  <!-- CD情報フォーム -->
  <div class="upper-cont-center">

    <div class="field upper-cont-center-box">
      <%= f.label :album, "シングル/アルバム名" %>
      <%= f.text_field :album, class:"form-control", placeholder:"", style:"width:100%" %>
    </div>

    <div class="field upper-cont-center-box">
      <%= f.label :anime_id, "アニメ名", class:"label-bold" %>
      <%= f.collection_select :anime_id, @animes, :id, :anime_title, { prompt: '選択してください' }, { class: 'form-control btn-default' } %>
    </div>

    <div class="field upper-cont-center-box">
      <%= f.label :label_id, "レーベル名", class:"label-bold" %>
      <%= f.collection_select :label_id, @labels, :id, :label_name, { prompt: '選択してください' }, { class: 'form-control btn-default' } %>
    </div>

    <div class="field upper-cont-center-box">
      <%= f.label :genre_id, "ジャンル", class:"label-bold" %>
      <%= f.select :genre_id, Cd.genre_ids.keys, { prompt: '選択してください' }, class: 'form-control btn-default' %>
    </div>

    <div class="upper-cont-center-items form-inline">
      <div class="field">
        <%= f.label :inventory, "在庫数", class:"label-bold" %><br>
        <%= f.number_field :inventory, class:"form-control", placeholder:"", style:"width:50%" %>
        <span class="unit">枚</span>
      </div>
    </div>

    <div class="upper-cont-center-items form-inline">
      <div class="field">
        <%= f.label :price, "値段(税込み)", class:"label-bold" %><br>
        <%= f.number_field :price, class: "form-control", placeholder:"", style:"width:60%" %>
        <span class="unit">円</span>
      </div>
    </div>

  </div>



  <!-- 曲情報入力フォーム -->
  <div class="lower-container clearfix">
    <div class="lower-container-right">
      <div id="tasks">
        <%= f.fields_for :discs do |disc| %>
          <%= render 'disc_fields', f: disc %>
        <% end %>

        <div style="margin:20px">
          <%= link_to_add_association 'Discの追加',f, :discs, class:"btn btn-primary", style:"float:left" %>
        </div>

        <div>
          <% if action_name == "new" %>
            <%= f.submit "商品の作成", class:"btn btn-lg btn-success", style:"float:right" %>
          <% else %>
            <%= f.submit "商品の更新", class:"btn btn-lg btn-success", style:"float:right" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>



<% end %>