<%= form_for @cd do |f| %>
  <div class="field">
    <%= f.label :album, "シングル/アルバム名" %>
    <%= f.text_field :album, class:"form-control", placeholder:"アニソン★魂", style:"width:90%" %>
  </div>
<% end %>



<!-- ドロップダウンメニューは選択できように変更中。url参考 -->
<!-- http://doop-web.com/blog/archives/1064 -->
<!-- https://mseeeen.msen.jp/bootstrap-4-dropdown-list/ -->
<!-- 
<div>
  <p class="label-bold">アニメ名</p>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      以下から選択してください
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
      <li role="presentation">
        <%# if @animes.present? %>
          <%# @animes.each do |anime| %>
            <%#= anime.anime_title %><br>
          <%# end %>
        <%# end %>
      </li>
    </ul>
  </div>
</div>
 -->

<!-- とりあえずベタ打ちで入力してください。 -->
<%= form_for @cd do |f| %>
  <div class="field">
    <%= f.label :anime, "＊アニメ名（とりあえずベタ打ちで）", class:"label-bold" %><br>
    <%= f.text_field :anime, class:"form-control", placeholder:"", style:"width:90%" %>
  </div>
<% end %>




<!-- 
<div>
  <p class="label-bold">レーベル名</p>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      以下から選択してください
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
      <li role="presentation">
        <%# if @animes.present? %>
          <%# @labels.each do |label| %>
            <%#= label.company %><br>
          <%# end %>
        <%# end %>
      </li>
    </ul>
  </div>
</div>
 -->
<!-- とりあえずベタ打ちで入力してください。 -->
<%= form_for @label do |f| %>
  <div class="field">
    <%= f.label :company, "＊レーベル名（とりあえずベタ打ちで）", class:"label-bold" %><br>
    <%= f.text_field :company, class:"form-control", placeholder:"", style:"width:90%" %>
  </div>
<% end %>


<!-- 
<div>
  <p></p>
  <p><strong>ジャンル</strong></p>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      以下から選択してください
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
      <li role="presentation">〜1970年代</li>
      <li role="presentation">1980年代</li>
      <li role="presentation">1990年代</li>
      <li role="presentation">2000年代</li>
      <li role="presentation">2010年代〜</li>
    </ul>
  </div>
</div>
 -->
<!-- とりあえずベタ打ちで入力してください。 -->
<% @genre = Genre.new unless @genre %>
<%= form_for @cd do |f| %>
  <div class="field">
    <%= f.label :genre, "＊ジャンル（とりあえずベタ打ちで）", class:"label-bold" %><br>
    <%= f.text_field :genre, class:"form-control", value:"2000年代", style:"width:90%" %>
  </div>
<% end %>



<div class="upper-cont-center-items form-inline">
  <%= form_for @cd do |f| %>
    <div class="field">
      <%= f.label :inventory, "在庫数", class:"label-bold" %><br>
      <%= f.number_field :inventory, class:"form-control", placeholder:"", style:"width:50%" %>
      <span class="unit">枚</span>
    </div>
  <% end %>
</div>


<div class="upper-cont-center-items form-inline">
  <%= form_for @cd do |f| %>
    <div class="field">
      <%= f.label :price, "値段(税込み)", class:"label-bold" %><br>
      <%= f.number_field :price, class:"form-control", placeholder:"", style:"width:60%" %>
      <span class="unit">円</span>
    </div>
  <% end %>
</div>