<%= render 'users/header1' ,user:@user %>
<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>
  <div class="container">
    <div class="row">
	    <div class="col-xs-12">
	    
	    	<div class="col-sm-4">
	    			<h1 class="title">商品一覧</h1>
			</div>
			<div class="col-sm-5">
				<div class="search-index">
					<%=form_tag cds_result_path, method: :get do %>
		                <%=text_field_tag :search, params[:search],  class: "cds_index_searh"%>
		                <%= submit_tag "検索" , class: "btn btn-default" %>
	                <% end %>
	            </div>
			</div>
			<div class="col-sm-3">
			</div>


		    <table class="table table-striped">
				<% @cd.each do |cd| %>
				<tr>
				   <td class="image_result_display"><%= link_to cd_path(cd) do %>
						<%= attachment_image_tag cd, :cd_image, :fill,150,150, format: 'jpeg', size: "150x150", fallback: "no-image.jpg" %>
				   <% end %>
				   </td>

					<td class="album_result_display"><%= cd.album %></br>
						<%= cd.anime.anime_title %></td>
						<td class="price_result_display">
							<%= cd.price %>円
						</td>
	                    <%= form_with model: cd do |f| %>
	                      <div class="price-btn">
		 		            <td>
				              <%= f.number_field :inventory, class: "", style:"width:50px;" %>
		                      <span class="unit">枚</span>
		                    </td>
		                    <td>
		                      <%= f.submit "数量更新", class: "btn btn-primary" %>
							</td>
	                    <% end %>
	                    <td>
				            <div class="edit_index_display">
				        	   <%= link_to "編集",edit_cd_path(cd.id), class: "btn btn-success" %>
				        	</div>
				        </td>
				        <td>
					        <div>
					           <%= link_to "削除", cd_path(cd.id), method: :delete, class: "btn btn-danger" %>
					        </div>
			            </td>
			        </div>
				 <% end %>
			</table>

			<div class="col-sm-4">
			</div>
			<div class="col-sm-6">
		<div aligin="center"><%= paginate@cd,class: "paginate" %></div>
			</div>
			<div class="col-sm-2">
			</div>
	    </div>
	 </div>
 </div>



