<div class="container">
<div class="row">
<h2>商品一覧</h2>
 <table class = "table table-border">
  <%= search_form_for @search do |f| %>
    <div class="form-group">
      <%= f.label :name_cont, "Name" %>
      <%= f.text_field :name_cont, class: "form-control" %>
    </div>
      <div class="actions"><%= f.submit "検索" , class: "btn btn-danger" %></div>
  <% end %>
  <% @cds.each do |cds| %>
  <tr>
    <td> <%= attachment_image_tag book.user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no-image.jpg", :size => "60x60" %></td>
    <tb class="cds_index_display"><%=</tb>


  </tr>

  </div>