<%= render 'users/header1' ,user:@user %>
<!-- 上半分 -->
<div class="container">

  <div class="upper-container clearfix">
    <h1 class="cds-new-title">商品追加</h1>
    <%= @animes %>

    <div class="upper-cont-left">

      <%= form_for(@cd, url: cds_path) do |f| %>

        <div>
        <!-- <div class="" style="border: 1px solid black; width: 80%; height: auto; margin: 10%"> -->
          <%= image_tag 'cd.jpg', class:"cd-image" %>
            <%#= attachment_image_tag(@cds.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %>
          <!-- <div align="center"> -->
            <%#= attachment_image_tag @user, :image, :fill,200,200, format: 'jpeg', size: "180x180", fallback: "sample-t.png" %>
          <!-- </div> -->
        </div>

        <div class="cd-image-select">
          <%= f.file_field :cd_image_id %>
        </div>
      <% end %>



    </div>

    <div class="upper-cont-center">
      <%= render 'cds/form_newcd', cd: @cd %>
    </div>

    <div class="upper-cont-right">
      <%= render 'cds/form_newrecord', cd: @cd %>
    </div>


                <!-- (仮)要素が新規追加されたか確認のためのフォーム -->
                <div style="margin-left:40px">
                  <p>↓新規追加を確認するための仮ドロップダウン（アニメ名）</p>

                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                      以下から選択してください
                      <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation">
                        <% if @animes.present? %>
                          <% @animes.each do |anime| %>
                            <p><%= anime.anime_title %></p>
                          <% end %>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>



  </div>


  <hr>

<!-- 下半分 -->
  <div class="lower-container">
      <%= render 'form', cd: @cd %>
      <%#= link_to 'Back', root_path %>
  </div>

</div>