<%= render 'users/header4',user: @user %>
<div class="d">
<div class="container">

	<div class="row">
		<div class="col-sm-0"></div>

		<div class="col-sm-8">
		<h1 class="title">検索結果一覧</h1>
			<table class="table_result">
				<thead>
				 <% @cds.each do |cd| %>
				   <tr>
						<td class="image_result_display"><%= link_to cd_path(cd) do %>
							<%= attachment_image_tag cd, :cd_image, :fill,150,150, format: 'jpeg', size: "120x120", fallback: "/images/no-image.jpg" %>
							<% end %></td>
						<td class="album_result_display"><%= cd.album %></br>
							<%= cd.anime.anime_title %></td>
						<td class="price_result_display"><%= cd.price %>円</br>
							<% if cd.inventory == 0 %>
								<div class="zaikonashi"><span class="zaikonashi">在庫なし</span></div>
							<% else %>
							    <div class="zaikoari"><span class="zaikoari">在庫あり</span></div>
							<% end %>
						</td>
					</tr>
				</thead>
				<% end %>
			</table>
		</div>
		<div class="col-sm-4"></div>
	</div>

	</div>
	<div align="center"><%= paginate @cds, class: "paginate" %></div>
</div>




<%= render 'users/footer' ,user: @user %>


