<%= render 'users/header4',user: @user %>



<div class="container">
	<h1>商品詳細</h1>
	<div class="row" style="margin-top:30px;">
		<!-- ３分割の左側 -->
		<div class="col-lg-4">

			<%= attachment_image_tag @cd, :cd_image, format: 'jpeg', fallback: "cd.jpg", size: "360x360" %>
			<div class="price">¥<%= @cd.price%></div>
			<% if @cd.inventory == 0 %>
				<div class="inventory0">在庫なし</div>
			<% else %>
				<div class="inventory">在庫あり</div>
			<% end %>
			<div class="cart-in">
				<!-- ユーザーがログイン状態の時のみの表示内容 -->
				<% if @user == current_user && user_signed_in? %>
					<!-- 以下カート追加 -->
					<%= form_for(@cart) do |f| %>
						<%= f.hidden_field :cd_id, :value => params[:id] %>
						<%= f.submit 'カートへ追加', class: "btn btn-default submit"%>

					<% end %>

			    <% end %>
			</div>

			<div class="new">
				<% if @user == current_user && user_signed_in? %>
					<h3>お気に入り一覧</h3>
					<div class="new-list">
							<% @favorite.each do |f| %>
								<div class="new-list-content">
								　 <%= link_to cd_path(f.id) do %>
									 <%= attachment_image_tag f, :cd_image, format: 'jpeg', fallback: "cd.jpg", size: "150x150" %>
								  <% end %>
								</div>
							<% end %>
					</div>
				<% else %>
				<!-- 最新のCD一覧 -->
					<div class="new-list-title">
						<h3>最新情報</h3>
					</div>
						<div class="new-list">
								<% @cds.each do |cd| %>
									<div class="new-list-content">
										<%= link_to cd_path(cd.id) do %>
											<%= attachment_image_tag cd, :cd_image,format: 'jpeg', fallback: "cd.jpg", size: "150x150" %>
										<% end %>
									</div>
								<% end %>
						</div>
				<% end %>
			</div>
		</div>
		<!-- ３分割の中央 -->
		<div class="col-lg-4" >
				<blockquote class="album-title" >
					<h3><%= @cd.album %>
					<% if @cd.favorited_by?(current_user) %>
						<%= link_to cd_favorites_path(@cd),method: :delete do %>
							<i class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red;"></i>
						<% end %>
					 <% else %>
						<%= link_to cd_favorites_path(@cd),method: :post do %>
							<i class="glyphicon glyphicon-heart-empty" aria-hidden="true"></i>
						<% end %>
					<% end %>
					</h3>
				</blockquote>
				<div class="cd-content">
					<div class="cd-text-list">
						<div class="cd-text">
							<h5><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span><%= @cd.anime.anime_title %></h5>
						</div>
						<div class="cd-text"><h5><span class="glyphicon glyphicon-home" aria-hidden="true"></span>　<%= @cd.label.label_name %></h5></div>
						<div class="cd-text"><h5><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>　ジャンル</h5></div>
					</div>
					<div class ="song-list">
						<% @cd.discs.each do |disc| %>
								<div class="disc">
									<p>--------------------------------------------------------------</p>
									<h5>Disc:<%= disc.disc_number %></h5></div>
								<% disc.songs.each do |song| %>
									<div class="song"><h7><%= song.title %>/<%= song.artist.artist_name %></h7></div>
								<% end %>
						<% end %>
					</div>
				</div>
		</div>
		<!-- ３分割の右側 -->
		<div class="col-lg-4" style="padding-top:70px;">
			<div class ="chat-container">
				  <div class="chats" id="chats">
					    <ul class="list-group">
					      <%= render @chats %>
					    </ul>
  				  </div>
  				  <% if @user == current_user && user_signed_in? %>
	  				  	<div class="form-group">
	  				  		<textarea type="text-area" class="form-control" id="chat-input3"　 placeholder="この商品やアニメについてチャットしよう！！" ></textarea>
	      					<input type="hidden" class="form-control" id="chat-input" value="<%= @cd.id %>" >
	      					<input type="hidden" class="form-control" id="chat-input2" value="<%= @user.id %>" >
	    				</div>
    				    <button id="button" class="btn btn-primary btn-block">コメントを送信する</button>
    			  <% else %>
    			  <% end %>
				 </div>
		    </div>
		</div>
	</div>

</div>

<%= render 'users/footer' ,user: @user %>

<!-- arr = [1, 2, 3]
p arr.inject(:+)
# => 6

# Ruby2.4.0からは
p arr.sum
# => 6 -->