 <%= render 'users/header4',user: @user %>

<div class="container">
	<div class="row">
		<div class="col-lg-4">

		</div>
		<div class="col-lg-4">

		</div>
		<div class="col-lg-4">
			<h2>チャット</h2>
			<%= form_for @chat do |f| %>
				<%= f.submit "投稿する" %>
			<%= end %>

		</div>
	</div>
</div>

<%= render 'users/footer' ,user: @user %>