<!-- header -->
 <%= render 'users/header3',user: @user %>



  <div class="top-container">
    <!-- 上半分 -->
    <div class="top-upper-container">

      <div class="top-upper-image">
        <!-- <span class="top-title-text"> -->
          <!-- <strong>#やめられない★とまらない♪</strong> -->
        <!-- </span> -->
        <!-- <div class="top-title-visual"> -->
           <%#= image_tag 'anison.jpg', class: "top-title-visual" %>
        <!-- </div> -->
      </div>

  </div>
  <div class="center-container">
      <div class="center-text clearfix">
        <h4>▼最新のCD情報はこちら</h4>
      </div>
      <%=form_tag cds_result_path, method: :get do %>
            <%=text_field_tag :search, params[:search],placeholder: "　　商品の検索はこちらから！商品名・アニメ名・曲名などで検索できます。" , class: "top_searh"%>
            <%= submit_tag "検索" , class: "btn btn-default" %>
      <% end %>
  </div>



    <!-- 下半分 -->
    <div class="top-lower-container clearfix">



      <!-- CDジャケット挿入 -->
      <% if user_signed_in? %>
      <!-- もしユーザーがサインインしていれば -->
          <%#if @favorite.count <= 6%>
        <!-- もしお気に入りの数が６個より少なければ最新の商品一覧を表示 -->
            <%# @cds.order('updated_at DESC').limit(6).each do |f| %>
              <%#= link_to cd_path(f.id) do %>
                <%#= attachment_image_tag f, :cd_image, :fill, 200, 200, fallback: "cd.jpg", class: "top-cd-images" %>
              <%# end %>
            <%# end %>

        <%# else %>
        <!-- もしお気に入りの数が６個以上であればお気に入りを表示 -->
          <%# @favorite.order('updated_at DESC').limit(6).each do |f| %>
              <%#= link_to cd_path(f.id) do %>
                  <%#= attachment_image_tag f, :cd_image, :fill, 200, 200, favoritellback: "cd.jpg", class: "top-cd-images"%>
              <%# end %>
          <%# end %>

        <%# end %>

      <% else %>
      <!-- もしユーザーがサインインしていなければ-->
          <% @cds.order('updated_at DESC').limit(6).each do |image| %>
            <%= attachment_image_tag image, :cd_image, :fill, 200, 200, fallback: "cd.jpg", class: "top-cd-images" %>
          <% end %>
       <% end %>

    </div>
  </div>



    <!-- footer -->
    <%= render 'users/footer' %>