  <!-- headerが出来上がるまで -->
  <div style="background-color:black; height:90px; line-height:90px; color:white">　　　ここヘッダー</div>
  <%#= render 'cds/#' %>

  <div class="top-container">
    <!-- 上半分 -->
    <div class="top-upper-container">

      <div class="top-title">
        <span class="top-title-text">
          <strong>#やめられない★とまらない♪</strong>
        </span>
        <div class="top-title-visual">
          <%= image_tag 'anison.jpg', class: "top-title-visual" %>
        </div>
      </div>

      <!-- 検索バーの代わり。導入したら削除 -->
      <div class="" style="background-color:#CCC; height:60px; width:70%; margin:0 15%; position:absolute; top:490px; line-height:60px">　　ここ、検索バーのイメージです。</div>

    </div>

    <!-- 下半分 -->
    <div class="top-lower-container clearfix">
      <% if @cds.present? %>
        <% @cds.each do |cd| %>
          <%= attachment_image_tag(cd, :cd_image_id, fallback: "no_image.jpg", size: '50x50') %>
        <% end %>
      <% end %>

      <%= image_tag 'nC1.jpeg', class: "top-cd-images" %>
      <%= image_tag 'cd.jpg', class: "top-cd-images" %>
      <%= image_tag 'no-image.jpeg', class: "top-cd-images" %>
      <%= image_tag 'cute-but-no-deploy2.jpeg', class: "top-cd-images" %>
      <%= image_tag 'sample-t.png', class: "top-cd-images" %>
      <%= image_tag 'sample-m.png', class: "top-cd-images" %>

    </div>
  </div>

  <!-- footerが出来上がるまで -->
  <div style="background-color:black; height:40px; line-height:40px; color:white; font-size:12px">　　　ここフッター</div>
  <%#= render 'cds/#' %>

