<!-- header -->
 <%= render 'users/header3',user: @user %>




  <div class="top-container">
    <!-- 上半分 -->
    <div class="top-upper-container">

      <div class="top-title">
        <span class="top-title-text">
          <strong>#やめられない★とまらない♪</strong>
        </span>
        <div class="top-title-visual">
          <%= image_tag 'anison.jpg', class: "top-title-visual" %>
        </div>
      </div>

      <!-- 検索バーの代わり。導入したら削除 -->
      <div class="" style="background-color:#CCC; height:60px; width:70%; margin:0 15%; position:absolute; top:490px; line-height:60px">　　ここ、検索バーのイメージです。</div>

    </div>

    <!-- 下半分 -->
    <div class="top-lower-container clearfix">

      <!-- CDジャケット挿入 -->
      <% if @cds.present? %>
        <% @cds.order('updated_at DESC').limit(6).each do |image| %>
          <%= attachment_image_tag image, :cd_image, :fill, 200, 200, fallback: "cd.jpg", class: "top-cd-images" %>
          <%#= attachment_image_tag Cd.find(7), :cd_image, :fill, 200, 200, fallback: "no-image.jpeg" %>
        <% end %>
      <% else %>
        <%= image_tag 'nC1.jpeg', class: "top-cd-images" %>
        <%= image_tag 'cd.jpg', class: "top-cd-images" %>
        <%= image_tag 'no-image.jpeg', class: "top-cd-images" %>
        <%= image_tag 'cute-but-no-deploy2.jpeg', class: "top-cd-images" %>
        <%= image_tag 'sample-t.png', class: "top-cd-images" %>
        <%= image_tag 'sample-m.png', class: "top-cd-images" %>
      <% end %>

    </div>
  </div>




    <!-- footer -->
    <%= render 'users/footer' %>