<header class="link-white">
 <% if current_user %>
 <div class="head"><%= link_to "アニソン★魂" ,root_path %></div>
  <div class="icon">
    <%= link_to user_path(user.id) ,media:"_blank" do %>

    <%= image_tag "/images/user.png", :size=> "50x50" %>
    <% end %>
      <%= link_to destroy_user_session_path,method: :delete , media:"_blank" do %>
      <%= image_tag "/images/logout.png", method: :delete ,:size=> "50x50" %>
      <% end %>
    <%= link_to carts_path ,media:"_blank" do %>
    <%= image_tag "/images/cart2.png", :size=> "50x50"%>

    </div>
    <% end %>
     <%=form_tag cds_path, method: :get do %>
       <%=text_field_tag :search, params[:search], class: "header4_search"%>
       <%=submit_tag "検索",class: "btn btn-banger"%>
    <% end %>
 </div>

<% else %>

  <div class="head"><%= link_to "アニソン★魂" ,root_path %></div>
    <div class="link">
      <%=link_to "ログイン", new_user_session_path %>　　<%=link_to "会員登録", new_user_registration_path%></div>
      <%=form_tag cds_path, method: :get do %>
       <%=text_field_tag :search, params[:search], class: "header4_search"%>
       <%=submit_tag "検索",class: "btn btn-banger" %>
    <% end %>
    </div>
  </div>
 <% end %>

</header>