<header>
 <div class="head">アニソン★魂</div>
  <div class="icon">
   <%= link_to edit_user_path(@user.id) ,media:"_blank" do %>
    <%= image_tag "user.jpeg", :size=> "30x30" %>
   <% end %>
    <%= link_to destroy_user_session_path ,method: :delete , media:"_blank" do %>
    <%= image_tag "logout.jpeg", :size=> "30x30" %>
    <% end %>
     <%= link_to cart_items_path ,media:"_blank" do %>
    <%= image_tag "cart.jpeg", :size=> "30x30"%>
     <% end %>
  </div>
       <%= search_form_for @search do |f| %>
       <div class ="header2">
    <div class="form-group">
    <input type="text" name="q[name_cont]" style="
    width: 254px; height: 40px;">
    <%= f.submit "検索",class: "btn btn-banger"  %>
    <% end %>
</div>
</header>