<header>
  <% if user.id == 1 %>
     <div class="kanrisha-footer" style="padding:40px;">
          
          <span style="margin-left:35px;">
          <%= link_to "アニソン★魂" ,root_path %>
          </span>

          <span style="margin-right:13%; margin-left:8% ">
              <%=link_to "商品一覧", cds_path %>
          </span>

          <span style= "margin-right:13%;">
              <%=link_to "商品追加", new_cd_path%>
          </span>

          <span style= "margin-right:13%;">
              <%=link_to "購入履歴", histories_path%>
          </span>

          <span style= "margin-right:13%;">
              <%=link_to "ユーザー一覧", users_path%>
          </span>

          <span style= "margin-right: 14%;">
              <%=link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </span>
      </div>
  <% else %>
<<<<<<< HEAD
   <div class="user-header2"><%= link_to "アニソン★魂" ,root_path %></div>
     <div class="icon">
      <%= link_to user_path(user.id) ,media:"_blank" do %>
      <%= image_tag "/images/user.png", :size=> "50x50" %>
      <% end %>

      <%= link_to destroy_user_session_path,method: :delete , media:"_blank" do %>
      <%= image_tag "logout.png", method: :delete ,:size=> "50x50" %>
      <% end %>

      <%= link_to carts_path ,media:"_blank" do %>
      <%= image_tag "/images/cart.jpeg", :size=> "50x50"%>
      </div>
      <% end %>

      <%=form_tag cds_path, method: :get do %>
      <%=text_field_tag :search, params[:search], class: "header4_search"%>
      <%=submit_tag "検索",class: "btn btn-banger"%>
      <% end %>
  <% end %>
</header>
