<header>
 <div class="head">アニソン★魂</div>
  <div class="icon">
    <%= link_to edit_user_path(@user.id) ,media:"_blank" do %>
    <%= image_tag "user.jpeg", :size=> "30x30" %>
    <% end %>
      <%= link_to destroy_user_session_path , media:"_blank" do %>
      <%= image_tag "logout.jpeg", method: :delete ,:size=> "30x30" %>
      <% end %>
        <%= link_to cart_items_path ,media:"_blank" do %>
        <%= image_tag "cart.jpeg", :size=> "30x30"%>
        <% end %>
 </div>
  <%if user_signed_in? %>
    <div class= "welcomeuser">
    <div class="user">おかえりなさいませ！<%= current_user.name %>様！</div>
    </div>

     <% end %>
</header>