<header class="link-white">
    <div class="nav">
      <span style="margin-left:60px;">
      <%= link_to "アニソン★魂" ,root_path %>
      </span>
      <span style="margin-right:12%; margin-left:8%;">
      <%=link_to "商品一覧", cds_path %>
      </span>

      <span style= "margin-right:13%;">
      <%=link_to "商品追加", new_cd_path%>
      </span>

      <span style= "margin-right:13%;">
      <%=link_to "購入履歴", histories_path%>
      </span>

      <span style= "margin-right:13%;">
      <%=link_to "ユーザー一覧", users_path %>
      </span>

      <%=link_to "ログアウト", destroy_user_session_path, method: :delete %>

    </div>
</header>