<%= render 'users/header2' ,user:@user %>

<div class="container">
  <h1 class="title_display">ユーザー情報の編集</h1>
   <div class="row">
      <div class="col-sm-4">
          <div align="center"> <%= attachment_image_tag @user, :image, :fill,200,200, format: 'jpeg', size: "200x200", fallback: "no-image.jpg" %>
          </div>
           <%=form_for(@user) do |f| %>
              <div class="field">
                	<div align="center"><%= f.attachment_field :image %></div>
              </div>
      </div>
      <div class="col-sm-6">
      <div class="edit_namekana_display">
              <div class="form-group hoge">
             <div class="field">
                <%= f.label :"名前カタカナ (姓、名) ※スペース不要" %><br />
                <%= f.text_field :namekana, autofocus: true, autocomplete: "namekana", class: "form_new" %>
              </div>
            </div>
          </div>

             <div class="form-group ">
              <div class="field">
                <%= f.label :"名前 (姓、名) ※スペース不要" %><br />
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form_new" %>
              </div>
             </div>

            <div class="form-group ">
              <div class="field">
                <%= f.label :"ニックネーム ※最大６文字" %><br />
                <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form_new" %>
              </div>
            </div>

            <div class="edit_address_display">
            <div class="form-group hoge">
              <div class="field">
                <%= f.label :住所 %><br />
                <%= f.text_area :address, autofocus: true, autocomplete: "address" %>
              </div>
            </div>
          </div>

              <div class="form-group ">
                <div class="field">
                <%= f.label :"郵便番号 ※ハイフン不要"%><br />
                <%= f.text_field :postal, autofocus: true, autocomplete: "postsl", class: "form_new" %>
              </div>
            </div>




            <div class="form-group">
              <div class="field">
                <%= f.label :電話番号 %><br />
                <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "form_new" %>
              </div>
            </div>

              <div class="form-group">
                <div class="field">
                <%= f.label :メールアドレス %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>
            </div>


            <div class="form-group">
              <div class="field">
                <%= f.label :パスワード %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>

              <div class="form-group">
                <div class="field">
                <%= f.label :パスワード確認 %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>

              <div class="actions">
                <div align="center"><%= f.submit "登録" %></div>
              </div>
            <% end %>
          </div>
           <div class="col-sm-2"></div>
      </div>
    </div>
</div>
