<%= render 'users/header1' ,user:@user %>
   		<div class="col-sm-4">
		   <div class="user-index-title"><h1>カート一覧</h1></div>
		</div>
		<div class="col-sm-4 form-group kensaku">
	   			<%= search_form_for @search do |f| %>
				<div align="center">
				<%= f.text_field :name_cont, class: "search_index" %>
				<%= f.submit "検索" , class: "btn btn-default btn-sm" %>
				</div>
	    	<% end %>
		<div class="col-sm-4">

		</div>

	</div>
	</div>
	</div>



<table class="table table-bordered">

	<thead>
		<tr>
			<th class="image_index_display">ユーザー画像</th>
			<th class="name_index_display">名前</th>
			<th class="namekana_index_display">カナ</th>
			<th class="nickname_index_display">ニックネーム</th>
			<th class="postal_index_display">〒</th>
			<th class="address_index_display">住所</th>
			<th class="phone_index_display">TEL</th>
			<th class="email_index_diesplay">メール</th>
			<th class="edit_index_display">編集</th>
			<th class="delete_index_display">削除</th>
		</tr>
	</thead>
	<% @users_page.each do |user| %>
	<% if user.deleted_at %>
		<tbody class="taikai">
		<tr>
			<td class="image_index_display"><%= attachment_image_tag user, :image, :fill,50,50, format: 'jpeg', size: "50x50", fallback: "no-image.jpg" %>
			</td>
			<td class="name_index_display"><%= user.name %></td>
			<td class="namekana_index_display"><%= user.namekana %></td>
			<td class="nickname_index_display"><%= user.nickname %></td>
			<td class="postal_index_display"><%= user.postal %></td>
			<td class="address_index_display"><%= user.address %></td>
			<td class="phone_index_display"><%= user.phone %></td>
			<td class="email_index_diespla"><%= user.email %></td>
			<td class="edit_index_display"></td>
			<td class="delete_index_display"></td>
		</tr>
	</tbody>
	<% else %>
	<tbody>
		<tr>
			<td class="image_index_display"><%= attachment_image_tag user, :image, :fill,50,50, format: 'jpeg', size: "50x50", fallback: "no-image.jpg" %>
			</td>
			<td class="name_index_display"><%= user.name %></td>
			<td class="namekana_index_display"><%= user.namekana %></td>
			<td class="nickname_index_display"><%= user.nickname %></td>
			<td class="postal_index_display"><%= user.postal %></td>
			<td class="address_index_display"><%= user.address %></td>
			<td class="phone_index_display"><%= user.phone %></td>
			<td class="email_index_diespla"><%= user.email %></td>
			<td class="edit_index_display"><%= link_to "編集",edit_user_path(user.id), class: "btn btn-success  btn-xs" %></td>
			<td class="delete_index_display"><%= link_to "削除", delete_user_path(user, params:  {user: {deleted_at: Time.current} }),method: :put, class: "btn btn-danger btn-xs" %></td>
		</tr>
	</tbody>
		<% end %>
	<% end %>
</table>
<div align="center"><%= paginate @users_page, class: "paginate" %></div>

