<%= render 'users/header1' ,user:current_user %>
<div class="container">
   <div class="row">
	<div class="col-sm-3">
			<div align="center"> <h1>マイページ</h1> </div>
			<div align="center"> <%= attachment_image_tag @user, :image, :fill,200,200, format: 'jpeg', size: "200x200", fallback: "no-image.jpg" %></div>
	        <div class="name_display">
	   		   <div align="center"> <%= @user.name %></div>
	   	    </div>


			 <%= link_to "編集",edit_user_path(@user.id), class: "btn btn-default edit_btn" %>
		     <%= link_to "退会", delete_user_path(@user, params:  {user: {deleted_at: Time.current} }),method: :put, class: "btn btn-default delete_btn" %>
		     <%=link_to "ログアウト", destroy_user_session_path, method: :delete %>
	</div>


	<div class="col-sm-9">
<<<<<<< HEAD
		
=======
		<h2> 購入履歴一覧</h2>
>>>>>>> bec9ed3f422e309f751c326fbb4c62369172af32


        <!-- ここでお気に入り一覧 -->
        <h2>お気に入り一覧</h2>
           <div class="favorite-list">
           	  <% if @favorite.count==0 %>
	           	  <h4>現在登録がありません</h4>
			  <% else %>
			  	  <% @favorite.each do |f| %>
						<div class="new-list-content">
							<%= attachment_image_tag f, :cd_image, format: 'jpeg', fallback: "cd.jpg", size: "200x200" %>
						</div>
				  <% end %>
			  <% end %>

           </div>

       <h1> 購入履歴一覧</h1>
		<table class="table">
			<% @histories.each do |history| %>
				<thead>
				   <tr>
						<td class="show_histories_name"><h4><%= history.histories_name %>様<h4></td>
						<td><div class="show_histories_postal"><%= history.histories_postal %></div></td>
						<td><%= history.histories_address %></br>
							<% history.history_cds.each do |history_cd| %>
							  <td><%= history_cd.cd.album %></td>
							  <td><%= history_cd.history_cd_quantity %>点</td>
							  <td><%= history_cd.history_cd_price %>円</td>
						</td>
				            <% end %>
				            <td><%= history.created_at %></td>
					</tr>
				</thead>
					<tbody>
						<td><%= @total_price %>円</td>
					    <td><%= @total_quantity %>点</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
					<% end %>
		</table>


	</div>
  </div>
</div>
