<%= render 'users/header1' ,user:current_user %>
<div class="container">
   <div class="row">
	<div class="col-sm-3">
			<div align="center"> <h1>マイページ</h1> </div>
			<div align="center"> <%= attachment_image_tag @user, :image, :fill,200,200, format: 'jpeg', size: "200x200", fallback: "no-image.jpg" %></div>
	        <div class="name_display">
	   		   <div align="center"> <%= @user.name %></div>
	   	    </div>


			 <%= link_to "編集",edit_user_path(@user.id), class: "btn btn-success edit_btn" %>
		     <%= link_to "退会", delete_user_path(@user, params:  {user: {deleted_at: Time.current} }),method: :put, class: "btn btn-danger delete_btn" %>

	</div>


	<div class="col-sm-9">
		<h2> 購入履歴一覧</h2>


        <!-- ここでお気に入り一覧 -->
        <h2>お気に入り一覧</h2>
           <div class="favorite-list">
           	  <% if @favorite.count==0 %>
	           	  <h4>現在登録がありません</h4>
			  <% else %>
			  	  <% @favorite.each do |f| %>
						<div class="new-list-content">
							<%= link_to cd_path(f.id) do %>
								<%= attachment_image_tag f, :cd_image, format: 'jpeg', fallback: "cd.jpg", size: "200x200" %>
							<% end %>
						</div>
				  <% end %>
			  <% end %>

           </div>


		<table class="table">
				<thead>
				   <tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</thead>
					<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
		</table>


	</div>
  </div>
</div>
