
<%= render 'users/header1' ,user:@user %>
<h1>Histories#index</h1>
<p>Find me in app/views/histories/index.html.erb</p>

































<%= form_for @history do |f| %>
  <%= f.label :status, "配送状況", class:"label-bold" %>
  <%= f.select :status, History.statuses.keys, {prompt: '発送状況を選択'}, class: 'form-control btn-default' %>
  <%= f.sumbit %>
<% end %>


