 <%= render 'users/header4',user: @user %>
 <div class="container">
	<div class="row">
		<h1>ショッピングカート</h1>
		<div class="col-lg-9">
			<!-- ここからカート一覧の内容 -->
			<table class="table table-striped">
				<tr>
					<th></th>
					<th>商品名</th>
					<th>アニメ名</th>
					<th>購入数量</th>
					<th>価格</th>
					<th></th>
				</tr>
				<% @carts.each do |cart| %>
				<tr>
					<td><%= attachment_image_tag cart.cd, :cd_image,　format: 'jpeg', fallback: "cd.jpg", size: "100x100" %></td>
					<td><div class="table-content"><h4><%= cart.cd.album %></h4></div class="table-content"></td>
					<td><div class="table-content"><%= cart.cd.anime.anime_title %></div></td>
					<td><div class="table-content">
							<!--以下endまでが数量変更の記述  -->
							<%= form_for(cart) do |f| %>
								<%= f. select :unit_quantity, 1...10, :selected => cart.unit_quantity %>
								<%= f.submit "数量更新" %>
							<% end %>
						</div>
					</td>
					<td><div class="table-content"><%= cart.cd.price%></div></td>
					<td>
						<div class="table-content">
							<%=link_to cart_item_path(cart.id),method: :delete do %>
								<i class="glyphicon glyphicon-trash"></i>
							<% end %>
						</div>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
		<div class="col-lg-3">
			<div class="cart-item-total">



				<h4>合計点数(点)</h4>
				 <%= @carts.sum(:unit_quantity) %>点
				<h4>合計金額</h4>
				<%= @total_price %>円
				<br>
                <%= link_to "お会計に進む", purchase_path, class: "btn btn-default btn-xs" %>

			</div>

		</div>
	</div>
</div>

<%= render 'users/footer' ,user: @user %>
 