<!-- ヘッダー -->
<%= render 'users/header4',user: @user %>



<div class="container clearfix">

<h1 class="cart-title">最終確認画面</h1>



  <!-- 画面左 -->
  <div class="cont-left">
    <div class="cart-image-box">
      <%= attachment_image_tag @user, :image, :fill,200,200, format: 'jpeg', fallback: "/images/no_image.png", class: "cart-image", style:"display:border" %>
    </div>

    <div class="cont-left-name">
      <h5><%= @user.name %>　様</h5>
    </div>

    <div class="cont-left-price">
      <h5>お買い上げ金額</h5>
      <h4 class="total-price underline">
        <%= @total_price.to_s(:delimited) %> 円
        <!-- これつけると1000単位毎にカンマが付く -->
        <!-- .to_s(:delimited, delimiter: ',') -->
      </h4>
    </div>



    <!-- 購入予定CDリスト -->
    <div class="cds-list">
      <div class="inners">
        <% if @cart_items.present? %>
          <% @cart_items.each do |cart_item| %>
            <div class="row">
              <div class="col-xs-3">
                <%#= attachment_image_tag cart_item.cd, :cd_image, :fill,60,60, format: 'jpeg', fallback: "no_image.png" %>
                <%= attachment_image_tag cart_item.cd, :cd_image, size: '60x60', format: 'jpeg', fallback: "/images/no_image.png" %>
              </div>
              <!-- <div class="col-xs-4>
                <span class="cd-text">
                  タイトル：<br>
                  アニメ名：<br>
                  数　　量：<br>
                  価　　格：
                </span>
              </div> -->
              <div class="col-xs-9">
                <span class="cd-text">
                  ■タイトル：<%= cart_item.cd.album %><br>
                  ■アニメ名：<%= cart_item.cd.anime.anime_title %><br>
                  ■数　　量：<%= cart_item.unit_quantity %> 枚<br>
                  ■価　　格：<%= cart_item.cd.price.to_s(:delimited, delimiter: ',') %> 円<br>
                </span>
              </div>

              <span style="color:#BBB">---------------------------------------------------------</span>

              <!-- ここから -->
              <div style="display:none">
                <div class="col-xs-4">
                  <p class="cd-text"><%= cart_item.cd.album %></p>
                  <p class="cd-text"><%= cart_item.unit_quantity %></p>
                </div>
                <div class="col-xs-5">
                  <p class="cd-text"><%= cart_item.cd.anime.anime_title %></p>
                  <p class="cd-text underline"><%= cart_item.cd.price.to_s(:delimited, delimiter: ',') %> 円</p>
                </div>
              </div>
              <!-- ここまで -->

            </div>
          <% end %>
        <% else %>
          <p style="margin:20px">※カートに商品がありません</p>
        <% end %>
      </div>
    </div>

  </div>



  <!-- 送付先情報 -->
  <div class="cont-center">
    <span class="cart-subtitle">送付先情報</span>

    <table class="table-striped table-hover table-responsive table-margin">
      <tbody>
        <tr>
          <th class="table-left">お名前</th>
          <td class="table-right"><%= @addresses.address_name %>　様</td>
        </tr>
        <tr>
          <th class="table-left">フリガナ</th>
          <td class="table-right"><%= @addresses.address_namekana %>　サマ</td>
        </tr>
        <tr>
          <th class="table-left">住所</th>
          <td class="table-right">〒<%= @addresses.address_postal %>
           <br><%= @addresses.address_address %></td>
        </tr>
        <tr>
          <th class="table-left">電話番号</th>
          <td class="table-right"><%= @addresses.address_phone %></td>
        </tr>
      </tbody>
    </table>

    <div class="purchase-buttons">

      <%= link_to 'カートへ戻る', carts_path, class:"btn btn-default purchase-buttons" %>
      <%= link_to 'ユーザー情報編集', edit_user_path(@user), class:"btn btn-default purchase-buttons" %>
      <%= link_to "注文確定", histories_path, :method => :post, class:"btn btn-success btn-lg purchase-buttons", data: { confirm: "ご注文内容や送付先住所などにお間違いがなければOKボタンを押してください。"} %>

    </div>
  </div>



  <!-- 配送先追加枠 -->
  <div class="cont-right">
    <%= render 'change_address', address: @address %>
  </div>

</div>



<!-- フッター -->
<%= render 'users/footer' ,user: @user %>